/* ЛЕВОЕ МЕНЮ */
/* Выбор  */
.menu {
    width: 30%;
    height: 100%;
    background-color: white;
    position: relative;
}

.menu-header {
    width: 100%;
    height: 60px;
    background-color: #f0f2f5;
    display: flex;
    align-items: center;
    padding: 0px 20px;
    border-right: 1px solid #e5e5e5;
}

.menu-header-profile {
    width: 40px;
    height: 40px;
    background-image: url(../img/user_2.png);
    background-size: 100% 100%;
    border-radius: 90%;
}

.menu-header-status {
    width: 18px;
    height: 18px;
    background-image: url(../img/status.png);
    background-size: 100% 100%;
    margin-left: auto;
    margin-right: 30px;
    opacity: .5;
}

.menu-header-plus {
    width: 18px;
    height: 18px;
    background-image: url(../img/plus.png);
    background-size: 100% 100%;
    margin-right: 30px;
    opacity: .5;
}

.menu-header-menu_dost {
    width: 18px;
    height: 18px;
    background-image: url(../img/dots.png);
    background-size: 100% 100%;
    margin-right: 10px;
    opacity: .5;
}

/* Выбор  */


/* Поиск контактов */


.find_contact {
    width: 100%;
    background-color: white;
    display: flex;
    padding: 7px 12px;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;

}

.find_contact-div{
    display: flex;
    width: 92%;
    height: 35px;
    background-color: #f0f2f5;
    align-items: center;
    border: 0px;
    border-radius: 10px;
}

.find_contact-div-img_search {
    width: 14px;
    height: 14px;
    margin: 0px 22px;
    margin-right: 28px;
}

.find_contact-div-input {
    width: auto;
    height: 30px;
    border: 0;
    background-color: #f0f2f5;
    font-size: 14px;

}

.find_contact-img_filter {
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: 5px;
}

/* Поиск контактов */


/* Контакты */

.contacts {
    width: 100%;
    height: calc(100% - 110px);
    /*padding: 0px 10px;*/

}
.contacts-open_chat_div {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;

}
.contacts-open_chat_div:hover {
    background-color: #f5f6f6;
    transition: .1s ease;
}

.contacts-open_chat_div-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu-open_chat_div-info {
    /*border-top: 1px solid #e5e5e5;*/
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0px;
    width: -webkit-fill-available;
}



.menu-open_chat_div-info-title {
    font-size: 20px;
}
.menu-open_chat_div-info-last_message {
    font-size: 14px;
    opacity: .6;
}

/* Контакты */





/*создания/добавления чата*/


.add_new_chat {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1000px;
    transition: .3s;
}

.add_new_chat-none {
    width: 100%;
    height: 50px;
    background-color: #008069;
}

.add_new_chat-title {
    width: 100%;
    height: 60px;
    background-color: #008069;
    color: white;
    font-size: 21px;
    /*font-weight: normal;*/
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.add_new_chat-title-back {
    width: 19px;
    height: 19px;
    background-image: url(../img/arrow.png);
    font-size: 20px;
    font-weight: bold;
    background-size: 100% 100%;
    margin: 5px;
    margin-right: 40px;
}






.add_new_chat-content {
    width: 100%;
    height: calc(100% - 115px);
    max-height: calc(100% - 115px);
    background-color: white;
}

.add_new_chat-content-find_contact {
    display: flex;
    width: 95%;
    height: 35px;
    background-color: #f0f2f5;
    align-items: center;
    border: 0px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.add_new_chat-content-find_contact-img_search {

    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-right: 35px;
}

.add_new_chat-content-find_contact-input {
    width: auto;
    height: 30px;
    border: 0;
    background-color: #f0f2f5;
    font-size: 14px;

}


.add_new_chat-content-box_create_group {
    width: 100%;
    height: 100%;
    overflow: overlay;
    padding-left: 10px;
    border-bottom: 1px solid #e5e5e5;

}

.add_new_chat-content-box_create_group::-webkit-scrollbar {
  width: 0;
}


.add_new_chat-content-block_chat_box {
    width:100%;
    height:calc(100% - 47px);
}
.add_new_chat-content-box_create_group-chat_box {
    display: flex;
    align-items: center;
    width: 100%;
}
.add_new_chat-content-box_create_group-chat_box-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 90%;
    border: 0px;
}

.add_new_chat-content-box_create_group-chat_box-info {
    /*border-top: 1px solid #e5e5e5;*/

    padding: 10px 0px;
    width: -webkit-fill-available;
}

.add_new_chat-content-box_create_group-chat_box-info-title {
    font-size: 18px;
}












.add_new_chat-content-block_chat_box {
    width: 100%;
    height: calc(100% - 110px);
    /*padding: 0px 10px;*/

}
.contacts-chat_box {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;

}
.contacts-chat_box:hover {
    background-color: #f5f6f6;
    transition: .1s ease;
}

.contacts-chat_box-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.menu-chat-box-info" {
    /*border-top: 1px solid #e5e5e5;*/
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0px;
    width: -webkit-fill-available;
}



.menu-chat_box-info-title {
    font-size: 20px;
}
.menu-chat_box-info-last_message {
    font-size: 14px;
    opacity: .6;
}


/*создания/добавления чата*/

/* ЛЕВОЕ МЕНЮ */
